.bigConversationContainer{
    display : flex;
    flex-wrap : wrap;

    width : 100%;
    height : 100%;
}

.conversationInfoContainer{
    flex-shrink : 0;
    width : 100%;
    height : 10%;
    text-align : center;
    border : solid 1px;
    margin: 1px;

    display : flex;
    flex-wrap : wrap;
    flex-direction : column;
    justify-content : center;

    overflow: hidden;
    overflow-x: scroll;
}
.conversationName {
    display : inline-block;
    font-size : 200%;
}

.conversationContainer{
   flex-shrink : 6;
   color : black;
   font-size : 140%;
   height : 80%;
   width : 100%;

   display : flex;
   flex-direction : column-reverse;

   overflow: hidden;
   overflow-y : scroll;
   overflow-x: scroll;
}

.messageContainer{
    width: 80%;

    display: flex;
    flex-wrap : wrap;
}

.messageContainerSender{
    flex-direction : row-reverse;
    position : relative;
    left : 19%;
}

.messageText{
    text-align : left;
    display : inline-block;
    padding : 3%;
    margin : 2%;
}

.messageTextSender{
    background-color : #ADD8E6;
    border-radius : 10% 0 10% 10%;
}

.messageTextReceiver{
    background-color : #d3d3d3;
    border-radius : 0 10% 10% 10%;
}

.sendingContainer{
    flex-shrink : 0;
    width : 100%;
    height : auto;
    margin-top : 2%;

    display : flex;
    justify-content : space-between;
}

.personName{
    display : block;
    color : green;
    text-align : left;
}

textarea{
    width : 100%;
}
